# Dependências
node_modules/
package-lock.json
package.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de ambiente (Nunca envie senhas ou chaves para o repositório)
.env
.env.test
.env.production
.env.local

# Builds e diretórios de compilação
dist/
build/

# Cobertura de testes
coverage/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db